Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

[Chore] Fix golangci-lint rule: gosec (#2163)
  ray-operator/.golangci.yml
  ray-operator/apis/ray/v1/webhook_suite_test.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

Allow configuration of restartPolicy
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

Add RayService manifests for stable diffusion tpu examples
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Allow configuration of restartPolicy (#2197)
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

Fix comments
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

[Test][Autoscaler] Move Autoscaler e2e tests to a new e2e_autoscaler package
  ray-operator/test/e2e_autoscaler/create_detached_actor.py
  ray-operator/test/e2e_autoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2e_autoscaler/support.go
  ray-operator/test/e2e_autoscaler/terminate_detached_actor.py
Due: golangci-lint-ray-operator

[Test][Autoscaler] Run Autoscaler e2e tests on buildkite
  .buildkite/test-sample-yamls.yml
Due: none

[Test][Autoscaler] Rename e2e_autoscaler to e2eautoscaler to make the linter happy
  .buildkite/test-sample-yamls.yml
  ray-operator/test/e2eautoscaler/create_detached_actor.py
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
  ray-operator/test/e2eautoscaler/support.go
  ray-operator/test/e2eautoscaler/terminate_detached_actor.py
Due: golangci-lint-ray-operator

Change RayService name
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Remove volumes
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

[Style] Fix golangci-lint rule: govet (#2144)
  docs/reference/api.md
  ray-operator/.golangci.yml
  ray-operator/apis/config/v1alpha1/configuration_types.go
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/apis/ray/v1alpha1/raycluster_types.go
  ray-operator/apis/ray/v1alpha1/rayjob_types.go
  ray-operator/apis/ray/v1alpha1/rayservice_types.go
  ray-operator/apis/ray/v1alpha1/zz_generated.deepcopy.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/utils/dashboard_httpclient.go
  ray-operator/controllers/ray/utils/fake_serve_httpclient.go
  ray-operator/controllers/ray/utils/httpproxy_httpclient.go
  ray-operator/controllers/ray/utils/serve_api_models.go
  ray-operator/main_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/appstatus.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/autoscaleroptions.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterspec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayclusterstatus.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayjobspec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicestatuses.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/servedeploymentstatus.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

Change working_dir to kuberay master
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Shorten RayService name and specify 2 deployment replicas
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
Due: none

Increase CPU and memory limit
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Add comment to CPU value
  ray-operator/config/samples/ray-service.tpu-single-host.yaml
Due: none

Remove multi-host example
  ray-operator/config/samples/ray-service.tpu-multi-host.yaml
Due: none

bump ./proto deps
  proto/go.mod
  proto/go.sum
Due: none

bump ./apiserver deps
  apiserver/go.mod
  apiserver/go.sum
Due: none

bump ./ray-operator deps
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

bump ./cli deps
  cli/go.mod
  cli/go.sum
Due: none

bump ./experimental deps
  experimental/go.mod
  experimental/go.sum
Due: none

fixup! bump ./ray-operator deps
  ray-operator/Dockerfile
Due: none

Doesn't seem to matter but also bump buildkite
  .buildkite/test-sample-yamls.yml
Due: none

Don't change the distro version just yet
  ray-operator/Dockerfile
Due: none

Bump go version in gha jobs
  .github/workflows/consistency-check.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/image-release.yaml
  .github/workflows/test-job.yaml
Due: none

Also bump sigs.k8s.io/controller-tools for build time
  ray-operator/Makefile
Due: none

more bumps
  apiserver/go.sum
  ray-operator/DEVELOPMENT.md
  ray-operator/Dockerfile.buildx
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

Update package import paths for proto rename
  apiserver/go.mod
  apiserver/pkg/model/converter.go
  apiserver/pkg/server/cluster_server.go
Due: golangci-lint-apiserver

Fix another deprecated API
  experimental/cmd/main.go
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
Due: golangci-lint-experimental

s/corev1.ResourceRequirements/corev1.VolumeResourceRequirements/gci rename
  apiserver/pkg/model/volumes_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
Due: golangci-lint-apiserver

Downgrade client-go
  ray-operator/go.mod
  ray-operator/go.sum
Due: none

update-codegen.sh
  ray-operator/pkg/client/applyconfiguration/ray/v1/dashboardstatus.go
  ray-operator/pkg/client/informers/externalversions/factory.go
Due: golangci-lint-ray-operator

Try bumping crd-ref-docs as well
  docs/reference/api.md
  ray-operator/Makefile
Due: none

make manifests
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
Due: none

make sync
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
Due: none

k8s.io/utils/pointer -> k8s.io/utils/ptr
  apiserver/pkg/model/converter_test.go
  ray-operator/apis/config/v1alpha1/defaults.go
  ray-operator/apis/config/v1alpha1/zz_generated.deepcopy.go
  ray-operator/apis/ray/v1/raycluster_types_test.go
  ray-operator/apis/ray/v1/rayjob_types_test.go
  ray-operator/apis/ray/v1/rayservice_types_test.go
  ray-operator/apis/ray/v1alpha1/raycluster_types_test.go
  ray-operator/apis/ray/v1alpha1/rayjob_types_test.go
  ray-operator/apis/ray/v1alpha1/rayservice_types_test.go
  ray-operator/apis/ray/v1alpha1/zz_generated.deepcopy.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler_test.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/common/route_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_test.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/controllers/ray/utils/util_test.go
  ray-operator/main_test.go
Due: golangci-lint-ray-operator, golangci-lint-apiserver

lint: missing formatting directive
  apiserver/pkg/model/converter.go
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

make generate
  ray-operator/apis/config/v1alpha1/zz_generated.deepcopy.go
  ray-operator/apis/ray/v1alpha1/zz_generated.deepcopy.go
Due: golangci-lint-ray-operator

Try to bump version
  apiserver/Dockerfile
  experimental/Dockerfile
  proto/Dockerfile
Due: none

Bump & standardize builder images
  apiserver/Dockerfile
  experimental/Dockerfile
  proto/Dockerfile
Due: none
