Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

[Feature][RayCluster]: introduce RayClusterSuspending and RayClusterSuspended conditions
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

Log error and continue, instead of panicing
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[Feature][RayCluster]: introduce RayClusterSuspending and RayClusterSuspended conditions
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

[Feature][RayCluster]: avoid the suspended message for RayClusterProvisioned being overridden
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Feature][RayCluster]: introduce RayClusterSuspending and RayClusterSuspended conditions (#2403)
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[Refactor] Support adding custom accelerator to resources in rayStartParams (#2425)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator

Add docu-config-sample for dnsConfig
  helm-chart/ray-cluster/values.yaml
Due: none

indent typo
  helm-chart/ray-cluster/values.yaml
Due: none

Upgrade Grafana Dashboard Version and Resolve Legacy Query Failures in Data Source
  config/grafana/KubeRay-ApiServer-1650105351221.json
  config/grafana/KubeRay-Controller-Runtime-Controllers-1650108080992.json
Due: none

[Test][sample-yaml] Check RayCluster create correct number of pods
  .buildkite/test-sample-yamls.yml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/support.go
Due: golangci-lint-ray-operator

Fall back to CPU requests if limit is not specified
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Add dnsConfig to head, worker and additional workers (#2377)
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

support aws efa
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/kuberay_api_test.py
  proto/config.proto
  proto/go_client/config.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/config.swagger.json
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator, golangci-lint-apiserver

fix(apiserver): env MEMORY_REQUESTS and MEMORY_LIMITS use memory ResourceField
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

[Fix][RayService] Raise error if spec.rayClusterConfig.headGroupSpec.headService.metadata.name is set
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

Fall back to CPU requests if limit is not specified (#2365)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

support extended resources
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/kuberay_api_test.py
  proto/config.proto
  proto/go_client/config.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/config.swagger.json
Due: golangci-lint-apiserver

support extended resources
  apiserver/pkg/util/cluster_test.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator, golangci-lint-apiserver

[Fix][RayService] Raise error if spec.rayClusterConfig.headGroupSpec.headService.metadata.name is set (#2440)
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
Due: golangci-lint-ray-operator

feat: add InvalidRayJobSpec, InvalidRayJobStatus, InvalidRayServiceSpec and InvalidRayClusterStatus events
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

address comments
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

Upgrade manifests kustomize v5
  apiserver/Makefile
  apiserver/deploy/base/insecure/kustomization.yaml
  apiserver/deploy/base/secure/kustomization.yaml
  apiserver/deploy/local/insecure/kustomization.yaml
  apiserver/deploy/local/secure/kustomization.yaml
  ray-operator/config/certmanager/kustomization.yaml
  ray-operator/config/crd/kustomization.yaml
  ray-operator/config/default-with-webhooks/kustomization.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/config/manager/kustomization.yaml
  ray-operator/config/rbac/kustomization.yaml
  ray-operator/config/webhook/kustomization.yaml
Due: none

return error for runtime.Tolerations
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

support extended resources for Ray pods (#2436)
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/kuberay_api_test.py
  proto/config.proto
  proto/go_client/config.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/config.swagger.json
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator, golangci-lint-apiserver

return error for runtime.Tolerations (#2444)
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

Add v6e TPU Ray CR manifests
  ray-operator/config/samples/ray-cluster.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/tpu-print-resources.py
Due: none

Fix names, entrypoint, and env vars
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/tpu-print-resources.py
Due: none

Fix sample tests
  tests/test_sample_raycluster_yamls.py
  tests/test_sample_rayjob_yamls.py
Due: none

Move TPU python script to new folder
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-tpu-scripts/tpu-print-resources.py
Due: none

Revert change to test_sample_rayjob
  tests/test_sample_rayjob_yamls.py
Due: none

Fix python script naming
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-tpu-scripts/tpu_list_devices.py
Due: none

rename folder to tpu
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

Add v6e TPU Ray CR Manifests (#2445)
  ray-operator/config/samples/ray-cluster.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/tpu/tpu_list_devices.py
  tests/test_sample_raycluster_yamls.py
Due: none

Fix tpu_list_device script and RayJob CRs
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

Remove unneeded lifecycle spec
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
Due: none

Fix num_workers calculation
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

Fix entrypoint path
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
Due: none

feat: add InvalidRayJobSpec, InvalidRayJobStatus, InvalidRayServiceSpec and InvalidRayClusterStatus events (#2441)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator
