Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

remove comments
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

Change the rules in role.yaml and multiple_namespaces_role.yaml to use the same template in _helpers.tpl to ensure consistency.
  helm-chart/kuberay-operator/templates/_helpers.tpl
  helm-chart/kuberay-operator/templates/multiple_namespaces_role.yaml
  helm-chart/kuberay-operator/templates/role.yaml
Due: none

Update _helpers.tpl
  helm-chart/kuberay-operator/templates/_helpers.tpl
Due: none

fixed issues
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

fixed format
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

add feature gate mechanism to ray-operator
  ray-operator/Dockerfile
  ray-operator/main.go
  ray-operator/pkg/features/features.go
Due: golangci-lint-ray-operator

[RayJob] add Failing RayJob in HTTPMode e2e test for rayjob with retry (#2242)
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

add feature gate mechanism to ray-operator (#2219)
  ray-operator/Dockerfile
  ray-operator/main.go
  ray-operator/pkg/features/features.go
Due: golangci-lint-ray-operator

fix: evicted-head-pod not re-created
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Add success and fail status assertions
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

[RayJob] add RayJob pass Deadline e2e-test with retry (#2241)
  ray-operator/test/e2e/rayjob_retry_test.go
Due: golangci-lint-ray-operator

delete cli dir for deprecation
  .github/workflows/test-job.yaml
  cli/Makefile
  cli/README.md
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/pkg/cmd/cluster/cluster.go
  cli/pkg/cmd/cluster/create.go
  cli/pkg/cmd/cluster/delete.go
  cli/pkg/cmd/cluster/get.go
  cli/pkg/cmd/cluster/list.go
  cli/pkg/cmd/config/config.go
  cli/pkg/cmd/config/get.go
  cli/pkg/cmd/config/reset.go
  cli/pkg/cmd/config/set.go
  cli/pkg/cmd/info/info.go
  cli/pkg/cmd/template/compute/compute.go
  cli/pkg/cmd/template/compute/create.go
  cli/pkg/cmd/template/compute/delete.go
  cli/pkg/cmd/template/compute/get.go
  cli/pkg/cmd/template/compute/list.go
  cli/pkg/cmd/template/template.go
  cli/pkg/cmd/version/release.go
  cli/pkg/cmd/version/version.go
  cli/pkg/cmdutil/client.go
  cli/pkg/cmdutil/configManager.go
  cli/pkg/cmdutil/const.go
  cli/pkg/cmdutil/errors.go
Due: golangci-lint-cli

Deprecate Kuberay CLI for Ray Kubectl plugin (#2246)
  .github/workflows/test-job.yaml
  cli/Makefile
  cli/README.md
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/pkg/cmd/cluster/cluster.go
  cli/pkg/cmd/cluster/create.go
  cli/pkg/cmd/cluster/delete.go
  cli/pkg/cmd/cluster/get.go
  cli/pkg/cmd/cluster/list.go
  cli/pkg/cmd/config/config.go
  cli/pkg/cmd/config/get.go
  cli/pkg/cmd/config/reset.go
  cli/pkg/cmd/config/set.go
  cli/pkg/cmd/info/info.go
  cli/pkg/cmd/template/compute/compute.go
  cli/pkg/cmd/template/compute/create.go
  cli/pkg/cmd/template/compute/delete.go
  cli/pkg/cmd/template/compute/get.go
  cli/pkg/cmd/template/compute/list.go
  cli/pkg/cmd/template/template.go
  cli/pkg/cmd/version/release.go
  cli/pkg/cmd/version/version.go
  cli/pkg/cmdutil/client.go
  cli/pkg/cmdutil/configManager.go
  cli/pkg/cmdutil/const.go
  cli/pkg/cmdutil/errors.go
Due: golangci-lint-cli

Fix for deprecate-cli deploy error
  .github/workflows/e2e-tests.yaml
  docs/components/cli.md
Due: none

Fix for deprecate-cli deploy error (#2251)
  .github/workflows/e2e-tests.yaml
  docs/components/cli.md
Due: none

Update helm-chart/kuberay-operator/templates/_helpers.tpl
  helm-chart/kuberay-operator/templates/_helpers.tpl
Due: none

Update helm-chart/kuberay-operator/templates/role.yaml
  helm-chart/kuberay-operator/templates/role.yaml
Due: none

Update helm-chart/kuberay-operator/templates/multiple_namespaces_role.yaml
  helm-chart/kuberay-operator/templates/multiple_namespaces_role.yaml
Due: none

Update _helpers.tpl for add customresourcedefinitions
  helm-chart/kuberay-operator/templates/_helpers.tpl
Due: none

[Refactor][RayCluster] Unify status update to single place
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[Refactor][RayCluster] Delete unused functions
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[Refactor][RayCluster] Update based on PR comments
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

infra: using cpu limits is not good, let's remove defaults
  helm-chart/kuberay-operator/values.yaml
Due: none

[Refactor][RayCluster] Unify status update to single place (#2249)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Add kubectl plugin with basic command and deprecate cli
  kubectl-plugin/README.md
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/cluster/cluster.go
  kubectl-plugin/pkg/cmd/cluster/get.go
  kubectl-plugin/pkg/cmd/ray.go
Due: none

Add kubectl plugin with basic command and deprecate cli (#2243)
  kubectl-plugin/README.md
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/cluster/cluster.go
  kubectl-plugin/pkg/cmd/cluster/get.go
  kubectl-plugin/pkg/cmd/ray.go
Due: none

wip
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Add workflow to mark as and close stale issues
  .github/workflows/stale.yaml
Due: none

[Feat][RayCluster] Set RayClusterReplicaFailure condition to reflect the result of creating/deleting Pods
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Add kubectl-plugin pre-commit
  .golangci.yml
  .pre-commit-config.yaml
  apiserver/Makefile
  experimental/Makefile
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/pkg/cmd/cluster/get.go
Due: none

Don’t assign the rayv1.Failed to the State field
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

fix test
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

Add kubectl-plugin pre-commit (#2255)
  .golangci.yml
  .pre-commit-config.yaml
  apiserver/Makefile
  experimental/Makefile
  kubectl-plugin/cmd/kubectl-ray.go
  kubectl-plugin/pkg/cmd/cluster/get.go
Due: none

[Test][RayCluster] Use a new RayClusterReplicaFailure condition to reflect the result of reconcilePods
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[Feat][RayCluster] Use a new RayClusterReplicaFailure condition to reflect the result of reconcilePods
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

Don’t assign the rayv1.Failed to the State field (#2258)
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

refactor rayservice reconciler
  ray-operator/config/samples/ray-service.sample.yaml
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/test/support/defaults.go
Due: golangci-lint-ray-operator

[Feat][RayCluster] Use errors.Join instead of fmt.Errorf for wrapping errors
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

rm defer code & move check head status into calculateStatus
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator
