Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

Fix v6e TPU Scripts and RayJob CRs (#2447)
  ray-operator/config/samples/ray-job.tpu-v6e-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

[Test][sample-yaml] Check RayCluster create correct number of pods
  .buildkite/test-sample-yamls.yml
  ray-operator/config/samples/ray-cluster.external-redis-uri.yaml
  ray-operator/config/samples/ray-cluster.external-redis.yaml
  ray-operator/config/samples/ray-cluster.heterogeneous.yaml
  ray-operator/config/samples/ray-cluster.separate-ingress.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/support.go
Due: golangci-lint-ray-operator

[Test][sample-yaml] Address issue comments
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Add all and worker node type to kubectl ray log
  kubectl-plugin/pkg/cmd/log/log.go
  kubectl-plugin/pkg/cmd/log/log_test.go
Due: none

Fix Ray CR manifests
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
Due: none

update rayjob resources
  ray-operator/config/samples/ray-job.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-singlehost.yaml
Due: none

fix test
  tests/test_sample_raycluster_yamls.py
Due: none

fix ray job resources
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
Due: none

Update V6e TPU Ray Samples (#2448)
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
  tests/test_sample_raycluster_yamls.py
Due: none

RayJob: update UserMode to InteractiveMode and check rayjob.spec.jobId for submission ID instead of an annotation
  docs/reference/api.md
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[RayJob] UserMode -> InteractiveMode and check rayjob.spec.jobId instead of annotation (#2446)
  docs/reference/api.md
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Chore] Address issue comments
  ray-operator/test/sampleyaml/raycluster_test.go
Due: golangci-lint-ray-operator

feat: add KubeRay operator version query
  .pre-commit-config.yaml
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: none

[Test][sample-yaml] Check RayCluster create correct number of pods (#2434)
  .buildkite/test-sample-yamls.yml
  ray-operator/config/samples/ray-cluster.external-redis-uri.yaml
  ray-operator/config/samples/ray-cluster.external-redis.yaml
  ray-operator/config/samples/ray-cluster.heterogeneous.yaml
  ray-operator/config/samples/ray-cluster.separate-ingress.yaml
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/ray.go
  ray-operator/test/support/support.go
Due: golangci-lint-ray-operator

[Docs][kubectl-plugin] Add instructions for downloading from GitHub release
  kubectl-plugin/README.md
Due: none

[Docs][kubectl-plugin] Add instructions for downloading from GitHub release (#2450)
  kubectl-plugin/README.md
Due: none

[Docs][kubectl-plugin] Add doc for install via Krew
  kubectl-plugin/README.md
Due: none

[Feature][kubectl-plugin] add KubeRay operator version query (#2443)
  .pre-commit-config.yaml
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/version/version.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
Due: none

fix(apiserver): env MEMORY_* use memory ResourceField
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
Due: golangci-lint-apiserver

fix(apiserver): env MEMORY_* use memory ResourceField (#2438)
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
Due: golangci-lint-apiserver

[Docs][kubectl-plugin] Add doc for install via Krew (#2458)
  kubectl-plugin/README.md
Due: none

test: add check ray import testcase
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/client.go
Due: golangci-lint-ray-operator

Upgrade manifests kustomize v5 (#2352)
  apiserver/Makefile
  apiserver/deploy/base/insecure/kustomization.yaml
  apiserver/deploy/base/secure/kustomization.yaml
  apiserver/deploy/local/insecure/kustomization.yaml
  apiserver/deploy/local/secure/kustomization.yaml
  ray-operator/config/certmanager/kustomization.yaml
  ray-operator/config/crd/kustomization.yaml
  ray-operator/config/default-with-webhooks/kustomization.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/config/manager/kustomization.yaml
  ray-operator/config/rbac/kustomization.yaml
  ray-operator/config/webhook/kustomization.yaml
Due: none

[Chore][kubectl-plugin] Fix wrong homepage link in krew template file
  .krew.yaml
Due: none

[Fix] Consistent parsing of custom accelerator resources
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

feat: feat get all pods func
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

chore: rm config in test/support/client.go
  ray-operator/test/support/client.go
Due: golangci-lint-ray-operator

fix: use ExecPodCmd to run k8s pod cmd and fix misuse of Eventually
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

Update v6e-256 sample
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
Due: none

fix: fix redundant module and fix CI lint err
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

[Fix] Consistent parsing of custom accelerator resources (#2464)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[Chore][kubectl-plugin] Fix wrong homepage link in krew template file (#2461)
  .krew.yaml
Due: none

refactor: refactor execute pod cmd with client-go function
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/test/support/client.go
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

[Feature][kubectl-plugin] Quick fix for Job Submission ID
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: none

test: add check ray import testcase (#2459)
  ray-operator/test/sampleyaml/raycluster_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

fix: fix pre-commit linter
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

[Feature][kubectl-plugin] Quick fix for Job Submission ID (#2469)
  kubectl-plugin/pkg/cmd/job/job_submit.go
Due: none
