Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

golangci-lint-ray-operator:
  name: golangci-lint (ray-operator)
  entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
  language: golang
  require_serial: true

golangci-lint-apiserver:
  name: golangci-lint (apiserver)
  entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
  language: golang
  require_serial: true

golangci-lint-cli:
  name: golangci-lint (cli)
  entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
  language: golang
  require_serial: true

golangci-lint-experimental:
  name: golangci-lint (experimental)
  entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
  language: golang
  require_serial: true

split version validation into another hook
  .pre-commit-config.yaml
Due: none

install kubeconform before pre-commit action
  .github/workflows/test-job.yaml
  .pre-commit-config.yaml
Due: none

add exit 1 in the version check of the pre-commit hook to terminate validation if the version is not validated.
  .pre-commit-config.yaml
Due: none

fix version extract
  .pre-commit-config.yaml
Due: none

[Chore][RayJob] Update log messages
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

[Refactor][RayJob] Extract validateRayJobStatus as a function
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

[Feature] Add Kubernetes manifest validation in pre-commit. (#2380)
  .github/workflows/test-job.yaml
  .pre-commit-config.yaml
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  ray-operator/DEVELOPMENT.md
  scripts/openapi2jsonschema.py
  scripts/validate-helm.sh
Due: none

[Feat][RayJob] UserMode SubmissionMode (#2364)
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  ray-operator/apis/ray/v1/rayjob_types.go
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Add instructions for static shell completion (#2384)
  kubectl-plugin/README.md
  kubectl-plugin/pkg/cmd/ray.go
Due: none

[Chore][kubectl-plugin] Add comment to explain the selection for RayService svc
  kubectl-plugin/pkg/util/client/client.go
Due: none

[Feat][Kubectl-Plugin] Implement kubectl session for RayJob and RayService
  kubectl-plugin/go.mod
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/types.go
Due: none

[Feat][Kubectl-Session] Default to RayCluster if no type specified
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
Due: none

[Feat][kubectl-plugin] Update comments and remove Ray client port-forward for RayJob and RayService
  kubectl-plugin/pkg/cmd/session/session.go
Due: none

[Feat][Kubectl-Plugin] Implement kubectl session for RayJob and RayService (#2379)
  kubectl-plugin/go.mod
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/cmd/session/session_test.go
  kubectl-plugin/pkg/util/client/client.go
  kubectl-plugin/pkg/util/client/client_test.go
  kubectl-plugin/pkg/util/types.go
Due: none

[Feat][kubectl-plugin] Add dynamic shell completion for kubectl ray session
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/util/completion/completion.go
  kubectl-plugin/pkg/util/completion/completion_test.go
Due: none

[RayJob] Add Failure Feedback (log and event) for Failed k8s Creation Task (#2306)
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

[Feature][RayJob]: Generate submitter and RayCluster creation/deletion events
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Feature][RayJob]: Generate submitter and RayCluster creation/deletion events
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
Due: golangci-lint-ray-operator

[Feature][RayJob]: Generate submitter and RayCluster creation/deletion events
  ray-operator/controllers/ray/rayjob_controller_test.go
Due: golangci-lint-ray-operator

[Feature][RayJob]: Generate submitter and RayCluster creation/deletion events (#2389)
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayjob_controller_test.go
  ray-operator/controllers/ray/rayjob_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Add dynamic shell completion for kubectl ray session (#2390)
  kubectl-plugin/pkg/cmd/session/session.go
  kubectl-plugin/pkg/util/completion/completion.go
  kubectl-plugin/pkg/util/completion/completion_test.go
Due: none

update volcano to v1.10.0
  ray-operator/go.mod
  ray-operator/go.sum
  ray-operator/hack/tools.go
Due: golangci-lint-ray-operator

Support gang scheduling with Apache YuniKorn
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

Support gang scheduling with Apache YuniKorn
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
Due: golangci-lint-ray-operator

Support gang scheduling with Apache YuniKorn
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
Due: golangci-lint-ray-operator

Support gang scheduling with Apache YuniKorn
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
Due: golangci-lint-ray-operator

address review comments
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
Due: golangci-lint-ray-operator

address review comments
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
Due: golangci-lint-ray-operator

add 1K, 5K and 10K RayCluster/RayJob scalability tests
  benchmark/perf-tests/100-rayjob/wait-for-rayjobs.sh
  benchmark/perf-tests/1000-raycluster/config.yaml
  benchmark/perf-tests/1000-raycluster/raycluster.yaml
  benchmark/perf-tests/1000-raycluster/results/junit.xml
  benchmark/perf-tests/1000-rayjob/config.yaml
  benchmark/perf-tests/1000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/1000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/1000-rayjob/results/junit.xml
  benchmark/perf-tests/10000-raycluster/config.yaml
  benchmark/perf-tests/10000-raycluster/raycluster.yaml
  benchmark/perf-tests/10000-raycluster/results/junit.xml
  benchmark/perf-tests/10000-rayjob/config.yaml
  benchmark/perf-tests/10000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/10000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/10000-rayjob/results/junit.xml
  benchmark/perf-tests/5000-raycluster/config.yaml
  benchmark/perf-tests/5000-raycluster/raycluster.yaml
  benchmark/perf-tests/5000-raycluster/results/junit.xml
  benchmark/perf-tests/5000-rayjob/config.yaml
  benchmark/perf-tests/5000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/5000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/5000-rayjob/results/junit.xml
  benchmark/perf-tests/README.md
  benchmark/perf-tests/common/image-preload-daemonset.yaml
  benchmark/perf-tests/common/preload-image.sh
  benchmark/perf-tests/common/wait-for-rayclusters.sh
  benchmark/perf-tests/common/wait-for-rayjobs.sh
Due: none

cleanup: remove unused initConnectionTimeout for RayClient in apiserver
  apiserver/pkg/client/cluster.go
  apiserver/pkg/client/job.go
  apiserver/pkg/client/kubernetes.go
  apiserver/pkg/client/service.go
  apiserver/pkg/manager/client_manager.go
Due: golangci-lint-apiserver

add 1K, 5K and 10K RayCluster/RayJob scalability tests (#2218)
  benchmark/perf-tests/100-rayjob/wait-for-rayjobs.sh
  benchmark/perf-tests/1000-raycluster/config.yaml
  benchmark/perf-tests/1000-raycluster/raycluster.yaml
  benchmark/perf-tests/1000-raycluster/results/junit.xml
  benchmark/perf-tests/1000-rayjob/config.yaml
  benchmark/perf-tests/1000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/1000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/1000-rayjob/results/junit.xml
  benchmark/perf-tests/10000-raycluster/config.yaml
  benchmark/perf-tests/10000-raycluster/raycluster.yaml
  benchmark/perf-tests/10000-raycluster/results/junit.xml
  benchmark/perf-tests/10000-rayjob/config.yaml
  benchmark/perf-tests/10000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/10000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/10000-rayjob/results/junit.xml
  benchmark/perf-tests/5000-raycluster/config.yaml
  benchmark/perf-tests/5000-raycluster/raycluster.yaml
  benchmark/perf-tests/5000-raycluster/results/junit.xml
  benchmark/perf-tests/5000-rayjob/config.yaml
  benchmark/perf-tests/5000-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/5000-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/5000-rayjob/results/junit.xml
  benchmark/perf-tests/README.md
  benchmark/perf-tests/common/image-preload-daemonset.yaml
  benchmark/perf-tests/common/preload-image.sh
  benchmark/perf-tests/common/wait-for-rayclusters.sh
  benchmark/perf-tests/common/wait-for-rayjobs.sh
Due: none

address review comments
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

address review comments
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
Due: golangci-lint-ray-operator

address review comments
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
Due: golangci-lint-ray-operator

[Feat][Kubectl-Plugin]Implement kubectl ray job submit
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/util/client/client.go
Due: none

Path conditions:
  golangci-lint-ray-operator: any of: ^ray-operator/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$)
  golangci-lint-apiserver: any of: ^apiserver/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$)
  golangci-lint-cli: any of: ^cli/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$)
  golangci-lint-experimental: any of: ^experimental/ and \.go$ and not (_generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$)
