Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

chore: add return option to execute pod cmd
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

[Test][HA] Ray Autoscaler enabled + Ray Serve autoscaling-enabled (#2485)
  ray-operator/test/e2e/locustfile.py
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2e/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2e/testdata/rayservice.static.yaml
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

feat: client-go log applies json format
  ray-operator/main.go
Due: golangci-lint-ray-operator

chore: go mod tidy
  ray-operator/go.mod
Due: none

feat: rayservice in place update and curl ray service pod func
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

chore: set default curl url to g.Eventually
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

fix typo and test
  apiserver/pkg/model/converter_test.go
  apiserver/test/e2e/job_server_e2e_test.go
Due: golangci-lint-apiserver

undo generated pb change
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
Due: none

missed one
  proto/go_client/config.pb.gw.go
Due: none

oops 2 more
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
Due: none

add security context
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
  proto/swagger/job.swagger.json
  proto/swagger/serve.swagger.json
Due: none

lint
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

add security context
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
  proto/swagger/job.swagger.json
  proto/swagger/serve.swagger.json
Due: golangci-lint-apiserver

remove unnecessary code
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

fix: GetRayService is already in master branch
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

fix: use tail -f /dev/null instead of while loop
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

Revert "refactor: setup Port forward request"
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

fix: curl pod wait until finish mv to front, remove unnecessary Eventually
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

refactor: rayservice get cluster name logic
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

fix comments
  apiserver/pkg/model/converter.go
  apiserver/pkg/util/cluster.go
Due: golangci-lint-apiserver

[Logging] Remove duplicate info in CR logs (#2531)
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Helm] add sizeLimit for emptyDir (#2532)
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

fix lint
  proto/job.proto
Due: none

Replace grep with awk in pre-commit hooks for BSD compatibility
  .pre-commit-config.yaml
Due: none

lint
  .pre-commit-config.yaml
Due: none

Update swagger-initializer.js
  third_party/swagger-ui/swagger-initializer.js
Due: none

update docs
  apiserver/DEVELOPMENT.md
Due: none

[Test][HA] Test high-availability during zero-downtime upgrade
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
Due: golangci-lint-ray-operator

fix: rm when curl api
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

chore: mv check headpod and workerpods running below the
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

fix: UnderlyingRayCluster rm and not get ray service in UnderlyingRayCluster
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

style: fix the linter issue
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

stlye: fix linter issue
  ray-operator/test/sampleyaml/rayservice_test.go
Due: golangci-lint-ray-operator

fix: change UnderlyingRayCluster to UnderlyingRayClusterName and change the comment in curlRayServicePod
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[Chore][precommit] Replace grep with awk in pre-commit hooks for BSD compatibility (#2541)
  .pre-commit-config.yaml
Due: none

[API Server] Add security context to Ray Cluster (#2538)
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  proto/cluster.proto
  proto/go_client/cluster.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
  proto/swagger/job.swagger.json
  proto/swagger/serve.swagger.json
Due: golangci-lint-apiserver

update
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

fix: use SpecApplyConfiguration instead of apply yaml
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

[API Server] Add Ray Job output - start/end time and ray cluster name (#2533)
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/test/e2e/job_server_e2e_test.go
  proto/go_client/job.pb.go
  proto/job.proto
  proto/kuberay_api.swagger.json
  proto/swagger/job.swagger.json
Due: golangci-lint-apiserver
