Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

[RayService][Refactor] Avoid flooding Kubernetes events (#2546)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

Update ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[RayService][Refactor] Remove ctrlResult (#2545)
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

Add expectations of RayCluster
  ray-operator/controllers/ray/expectations/scale_expectations.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

fix(pass): rm useless code, fix typo, and use g.Eventually to curl service
  ray-operator/test/e2e/rayservice_in_place_update_test.go
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

[Test][HA] Test high-availability during zero-downtime upgrade (#2539)
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
Due: golangci-lint-ray-operator

Add support node selector in the API server
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/kuberay_api_test.py
  proto/config.proto
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
  proto/kuberay_api.swagger.json
  proto/swagger/config.swagger.json
Due: golangci-lint-apiserver

fixed typos
  apiserver/pkg/model/converter_test.go
Due: golangci-lint-apiserver

fixed lint
  proto/config.proto
Due: none

Add 'updateStrategy' field to RayServiceSpec, allowing users to disable/enable zero-downtime update.
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
Due: golangci-lint-ray-operator

chore: remove empty line
  ray-operator/main.go
Due: golangci-lint-ray-operator

[Refactor][kubectl-plugin] Change kubectl ray cluster get to get cluster (#2493)
  kubectl-plugin/pkg/cmd/get/get.go
  kubectl-plugin/pkg/cmd/get/get_cluster.go
  kubectl-plugin/pkg/cmd/get/get_cluster_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/test/e2e/kubectl_ray_test.go
Due: none

[RayCluster] don't allow overriding ray.io/cluster label
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

[RayCluster] don't allow overriding ray.io/cluster label (#2555)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

[Feature] Disable zero downtime upgrade for a RayService using RayServiceSpec (#2468)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/rayservice_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/rayservice_controller_unit_test.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/rayservicespec.go
Due: golangci-lint-ray-operator

add nodeSelector for ApiServer
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  apiserver/pkg/util/cluster.go
  apiserver/pkg/util/cluster_test.go
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/test/api_params_test.py
  proto/config.proto
  proto/go_client/config.pb.go
  proto/kuberay_api.swagger.json
  proto/swagger/config.swagger.json
Due: golangci-lint-apiserver

chore: add comment to explain why apply logger
  ray-operator/main.go
Due: golangci-lint-ray-operator

fix: lint error
  ray-operator/main.go
Due: golangci-lint-ray-operator

chore: rm one fruit stand in rayServiceSampleYamlApplyConfiguration's ServeConfigV2
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

fix: rm unnecessary checking, we only need to check head pod ready
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

test: use default cluster spec to run
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

some logs are not json format (#2535)
  ray-operator/go.mod
  ray-operator/main.go
Due: golangci-lint-ray-operator

Add workerGroupSpec.idleTimeoutSeconds to v1 RayCluster CRD
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

Ran make api-docs
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
Due: none

ran hack/update-codegen.sh and make generate
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

remove autoscaler's permission of patch pods
  ray-operator/controllers/ray/common/rbac.go
Due: golangci-lint-ray-operator

remove autoscaler's permission of patch pods (#2559)
  ray-operator/controllers/ray/common/rbac.go
Due: golangci-lint-ray-operator

Update ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/raycluster_types.go
Due: golangci-lint-ray-operator

make api-docs
  docs/reference/api.md
Due: none

Fix lint error
  docs/reference/api.md
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

fix: remove unnecessary code checking
  ray-operator/test/e2e/rayservice_in_place_update_test.go
Due: golangci-lint-ray-operator

Add workerGroupSpec.idleTimeoutSeconds to v1 RayCluster CRD (#2558)
  docs/reference/api.md
  helm-chart/kuberay-operator/crds/ray.io_rayclusters.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayjobs.yaml
  helm-chart/kuberay-operator/crds/ray.io_rayservices.yaml
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/apis/ray/v1/zz_generated.deepcopy.go
  ray-operator/config/crd/bases/ray.io_rayclusters.yaml
  ray-operator/config/crd/bases/ray.io_rayjobs.yaml
  ray-operator/config/crd/bases/ray.io_rayservices.yaml
  ray-operator/pkg/client/applyconfiguration/ray/v1/workergroupspec.go
Due: golangci-lint-ray-operator

test: add ray_actor_options and num_cpus to Router
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

fix issues
  ray-operator/controllers/ray/expectations/scale_expectations.go
  ray-operator/controllers/ray/expectations/scale_expectations_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[RayCluster][Feature] Make RayClusterStatusConditions feature gate Beta and enabled by default
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/pkg/features/features.go
Due: golangci-lint-ray-operator

Update README.md
  README.md
Due: none

test: reduce MangoStand resource usage
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

chore: increase resourceCPU
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

Revert "chore: increase resourceCPU" This reverts commit 5e2b8b1f89940ace4afa47c3a1a1f31a747b8c71.
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator

chore: use customize rayClusterSpec instead
  ray-operator/test/e2e/support.go
Due: golangci-lint-ray-operator
