Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

[Build][kubectl-plugin] Add release script for kubectl plugin
  .github/workflows/release.yaml
  .krew.yaml
  .pre-commit-config.yaml
  docs/development/release.md
  kubectl-plugin/.gitignore
  kubectl-plugin/.goreleaser.yaml
Due: none

[Feat][Kubectl-Plugin]Implement kubectl ray job submit (#2394)
  kubectl-plugin/go.mod
  kubectl-plugin/go.sum
  kubectl-plugin/pkg/cmd/job/job.go
  kubectl-plugin/pkg/cmd/job/job_submit.go
  kubectl-plugin/pkg/cmd/job/job_submit_test.go
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/util/client/client.go
Due: none

Add support for parsing neuron core resource limit and pass it as ray start param
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Support gang scheduling with Apache YuniKorn (#2396)
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_task_groups.go
  ray-operator/controllers/ray/utils/constant.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[Feature][RayCluster]: introduce RayClusterSuspending and RayClusterSuspended conditions
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Add Long, Example, shell completion for kubectl ray log
  kubectl-plugin/pkg/cmd/log/log.go
Due: none

[Chore] Add comments to explain why krew-release-bot does not work now
  .github/workflows/release.yaml
Due: none

[Chore][YuniKorn] Add sample yaml file for Apache YuniKorn
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

[Feat][kubectl-plugin] Add Long, Example, shell completion for kubectl ray log (#2405)
  kubectl-plugin/pkg/cmd/log/log.go
Due: none

[Build][kubectl-plugin] Add release script for kubectl plugin (#2407)
  .github/workflows/release.yaml
  .krew.yaml
  .pre-commit-config.yaml
  docs/development/release.md
  kubectl-plugin/.gitignore
  kubectl-plugin/.goreleaser.yaml
Due: none

update tags for v1.2.2
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
Due: none

[release v1.2.2] Update tags and versions (#2416)
  helm-chart/kuberay-apiserver/Chart.yaml
  helm-chart/kuberay-apiserver/values.yaml
  helm-chart/kuberay-operator/Chart.yaml
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/Chart.yaml
  ray-operator/config/default/kustomization.yaml
Due: none

Update KUBERAY_VERSION
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

[Telemetry][v1.2.2] Update KUBERAY_VERSION (#2417)
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

Add a variant of the ray data processing job with GCSFuse CSI driver
  ray-operator/config/samples/ray-data-image-resize/ray-data-image-resize-gcsfusecsi-job.yaml
  ray-operator/config/samples/ray-data-image-resize/ray_data_image_resize_gcsfuse.py
Due: none

Add a variant of the ray data processing job with GCSFuse CSI driver (#2401)
  ray-operator/config/samples/ray-data-image-resize/ray-data-image-resize-gcsfusecsi-job.yaml
  ray-operator/config/samples/ray-data-image-resize/ray_data_image_resize_gcsfuse.py
Due: none

Generalize custom accelerator detection logic
  ray-operator/controllers/ray/common/pod.go
Due: golangci-lint-ray-operator

Fix code lint issues
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Do not override/add to resources if exists already
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Add support for parsing neuron core resource limit and pass it as ray… (#2409)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Include LICENSE file into kubectl plugin tar
  kubectl-plugin/.goreleaser.yaml
Due: none

[Feat][kubectl-plugin] Include LICENSE file into kubectl plugin tar (#2422)
  kubectl-plugin/.goreleaser.yaml
Due: none

[Chore][YuniKorn] Add sample yaml file for Apache YuniKorn (#2412)
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

[Refactor] Support adding custom accelerator to resources in rayStartParams
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Organize imports and rename function
  ray-operator/controllers/ray/common/pod.go
Due: golangci-lint-ray-operator

[Feat][kubectl-plugin] Add kubectl ray version command
  kubectl-plugin/.goreleaser.yaml
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/version/version.go
Due: none

cleanup: remove unused initConnectionTimeout for RayClient in apiserver (#2399)
  apiserver/pkg/client/cluster.go
  apiserver/pkg/client/job.go
  apiserver/pkg/client/kubernetes.go
  apiserver/pkg/client/service.go
  apiserver/pkg/manager/client_manager.go
Due: golangci-lint-apiserver

[Feat][kubectl-plugin] Add kubectl ray version command (#2424)
  kubectl-plugin/.goreleaser.yaml
  kubectl-plugin/pkg/cmd/ray.go
  kubectl-plugin/pkg/cmd/version/version.go
Due: none

Use Ray 2.9.0 for Yunikorn YAML
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

[Feature][RayCluster]: introduce RayClusterSuspending and RayClusterSuspended conditions
  ray-operator/apis/ray/v1/raycluster_types.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/util.go
Due: golangci-lint-ray-operator

[Chore] Use Ray 2.9.0 for Apache YuniKorn example (#2427)
  ray-operator/config/samples/ray-cluster.yunikorn-scheduler.yaml
Due: none

Address comments and panic on error
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Add test for multiple custom accelerators
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
Due: golangci-lint-ray-operator

Wrap resources value with quotes while passing to ray start
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
Due: golangci-lint-ray-operator

Upgrade manifests kustomize v5
  apiserver/Makefile
  apiserver/deploy/base/insecure/kustomization.yaml
  apiserver/deploy/base/secure/kustomization.yaml
  apiserver/deploy/local/insecure/kustomization.yaml
  apiserver/deploy/local/secure/kustomization.yaml
  ray-operator/config/default-with-webhooks/kustomization.yaml
  ray-operator/config/default/kustomization.yaml
  ray-operator/config/manager/kustomization.yaml
  ray-operator/config/rbac/kustomization.yaml
Due: none

Fix test case
  ray-operator/controllers/ray/common/pod.go
  ray-operator/test/e2eautoscaler/raycluster_autoscaler_test.go
Due: golangci-lint-ray-operator
