Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

Add RayJob training example using pytorch resnet image classifier (#2107)
  ray-operator/config/samples/pytorch-resnet-image-classifier/fine-tune-pytorch-resnet-image-classifier.py
  ray-operator/config/samples/pytorch-resnet-image-classifier/ray-job.pytorch-image-classifier.yaml
Due: none

[Style] Fix golangci-lint rule: errorlint
  ray-operator/.golangci.yml
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/dashboard_httpclient.go
  ray-operator/test/support/events.go
Due: golangci-lint-ray-operator

[Style] Fix golangci-lint rule: errorlint (#2141)
  ray-operator/.golangci.yml
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/common/job.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/dashboard_httpclient.go
  ray-operator/test/support/events.go
Due: golangci-lint-ray-operator

update 100 RayJob tests to use PyTorch trainer and Ray Data examples
  benchmark/perf-tests/100-raycluster/config.yaml
  benchmark/perf-tests/100-raycluster/raycluster.yaml
  benchmark/perf-tests/100-raycluster/results/junit.xml
  benchmark/perf-tests/100-raycluster/wait-for-rayclusters.sh
  benchmark/perf-tests/100-rayjob/config.yaml
  benchmark/perf-tests/100-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/100-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/100-rayjob/results/junit.xml
  benchmark/perf-tests/100-rayjob/wait-for-rayjobs.sh
  benchmark/perf-tests/images/ray-pytorch/Dockerfile
Due: none

[perf-test] update 100 RayJob perf tests to use PyTorch trainer and Ray Data examples (#2149)
  benchmark/perf-tests/100-raycluster/config.yaml
  benchmark/perf-tests/100-raycluster/raycluster.yaml
  benchmark/perf-tests/100-raycluster/results/junit.xml
  benchmark/perf-tests/100-raycluster/wait-for-rayclusters.sh
  benchmark/perf-tests/100-rayjob/config.yaml
  benchmark/perf-tests/100-rayjob/pytorch-mnist-rayjob.yaml
  benchmark/perf-tests/100-rayjob/ray-data-image-resize.yaml
  benchmark/perf-tests/100-rayjob/results/junit.xml
  benchmark/perf-tests/100-rayjob/wait-for-rayjobs.sh
  benchmark/perf-tests/images/ray-pytorch/Dockerfile
Due: none

docs: update comments of the ENABLE_RAY_HEAD_CLUSTER_IP_SERVICE
  helm-chart/kuberay-operator/values.yaml
  ray-operator/controllers/ray/common/service.go
Due: golangci-lint-ray-operator

refactor: move the ENABLE_RAY_HEAD_CLUSTER_IP_SERVICE to the constant.go
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator

make the bucket name and prefix configurable for ray data image resize sample job
  ray-operator/config/samples/ray-data-image-resize/ray-job.image-resize.yaml
  ray-operator/config/samples/ray-data-image-resize/ray_data_image_resize.py
Due: none

[Feat][RayCluster] Make the Head service headless (#2117)
  cli/README.md
  cli/pkg/cmd/cluster/create.go
  clients/python-client/python_client/utils/kuberay_cluster_builder.py
  helm-chart/kuberay-operator/values.yaml
  ray-operator/controllers/ray/common/service.go
  ray-operator/controllers/ray/common/service_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
  ray-operator/controllers/ray/utils/constant.go
Due: golangci-lint-ray-operator, golangci-lint-cli

[perf-tests] make the bucket name and prefix configurable for ray data image resize sample job (#2156)
  ray-operator/config/samples/ray-data-image-resize/ray-job.image-resize.yaml
  ray-operator/config/samples/ray-data-image-resize/ray_data_image_resize.py
Due: none

solve conflict
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

fix
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

remain consistency
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

solve conflict
  ray-operator/controllers/ray/common/association.go
Due: golangci-lint-ray-operator

rename
  ray-operator/controllers/ray/common/association.go
Due: golangci-lint-ray-operator

rename RayClusterHeadPodsRelatedAssociationOptions
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
Due: golangci-lint-ray-operator

fix
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
  ray-operator/controllers/ray/suite_helpers_test.go
Due: golangci-lint-ray-operator

Add RayClusterServicesAssociationOptions
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

add RayClusterRoutesAssociationOptions and RayClusterIngressesAssociationOptions
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

fix
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

added autoscaling support to Python APIs
  apiserver/Makefile
  apiserver/deploy/local/insecure/kustomization.yaml
  clients/python-apiserver-client/LICENSE
  clients/python-apiserver-client/README.md
  clients/python-apiserver-client/pyproject.toml
  clients/python-apiserver-client/python_apiserver_client/__init__.py
  clients/python-apiserver-client/python_apiserver_client/params/__init__.py
  clients/python-apiserver-client/python_apiserver_client/params/cluster.py
  clients/python-apiserver-client/python_apiserver_client/params/environmentvariables.py
  clients/python-apiserver-client/python_apiserver_client/params/volumes.py
  clients/python-apiserver-client/python_apiserver_client/params/workernode.py
  clients/python-apiserver-client/python_apiserver_client_test/api_params_test.py
  clients/python-apiserver-client/python_apiserver_client_test/kuberay_api_scaling_test.py
  clients/python-apiserver-client/python_apiserver_client_test/kuberay_api_test.py
  clients/python-apiserver-client/src/python_apiserver_client/__init__.py
  clients/python-apiserver-client/src/python_apiserver_client/kuberay_apis.py
  clients/python-apiserver-client/src/python_apiserver_client/params/__init__.py
  clients/python-apiserver-client/src/python_apiserver_client/params/cluster.py
  clients/python-apiserver-client/src/python_apiserver_client/params/environmentvariables.py
  clients/python-apiserver-client/src/python_apiserver_client/params/headnode.py
  clients/python-apiserver-client/src/python_apiserver_client/params/jobsubmission.py
  clients/python-apiserver-client/src/python_apiserver_client/params/templates.py
  clients/python-apiserver-client/src/python_apiserver_client/params/volumes.py
  clients/python-apiserver-client/src/python_apiserver_client/params/workernode.py
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/configmaps.py
  clients/python-apiserver-client/test/kuberay_api_test.py
Due: none

added autoscaling support to Python APIs
  clients/python-apiserver-client/README.md
Due: none

run pre-commit
  clients/python-apiserver-client/test/api_params_test.py
  clients/python-apiserver-client/test/kuberay_api_test.py
Due: none

Added Pod securityContext value to Helm charts
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

Added Pod securityContext value to Helm charts (#2160)
  helm-chart/kuberay-operator/values.yaml
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
  helm-chart/ray-cluster/values.yaml
Due: none

[Chore] Enable revive rule
  ray-operator/.golangci.yml
Due: none

[Bug] Fix RayJob with overridden `app.kubernetes.io` labels (#2147)
  ray-operator/config/samples/ray-job.custom-k8s-app.yaml
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  tests/test_sample_rayjob_yamls.py
Due: golangci-lint-ray-operator

[Stlye] Fix indent-error-flow rule
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
Due: golangci-lint-ray-operator

[Style] Fix error-strings rule
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/utils/dashboard_httpclient.go
Due: golangci-lint-ray-operator

[Style] Fix blank-imports rule
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Style] Fix var-declaration rule
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

[Style] Fix unused-parameter rule
  ray-operator/apis/ray/v1/raycluster_webhook.go
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/suite_test.go
  ray-operator/controllers/ray/utils/dashboard_httpclient_test.go
  ray-operator/controllers/ray/utils/fake_httpproxy_httpclient.go
  ray-operator/controllers/ray/utils/fake_serve_httpclient.go
  ray-operator/test/e2e/rayjob_lightweight_test.go
  ray-operator/test/e2e/rayjob_suspend_test.go
  ray-operator/test/e2e/rayjob_test.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[Style] Fix if-return rule
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Style] Fix var-naming rule and disable exported rule
  ray-operator/.golangci.yml
  ray-operator/controllers/ray/raycluster_controller_unit_test.go
Due: golangci-lint-ray-operator

[Bug] Test RayCluster with overridden app.kubernetes.io labels in envtest
  ray-operator/config/samples/ray-job.custom-k8s-app.yaml
  ray-operator/controllers/ray/raycluster_controller_test.go
  tests/test_sample_rayjob_yamls.py
Due: golangci-lint-ray-operator

update
  ray-operator/controllers/ray/common/association.go
  ray-operator/test/e2e/create_detached_actor.py
  ray-operator/test/e2e/raycluster_autoscaler_test.go
  ray-operator/test/e2e/terminate_detached_actor.py
  ray-operator/test/support/core.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[Bug] Test RayCluster's ServiceIP with overridden app.kubernetes.io labels in envtest
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

[Bug] Fix RayCluster with an overridden app.kubernetes.io/name (#2147) (#2166)
  ray-operator/controllers/ray/common/association.go
  ray-operator/controllers/ray/common/association_test.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/raycluster_controller_test.go
Due: golangci-lint-ray-operator

add priority
  helm-chart/ray-cluster/templates/raycluster-cluster.yaml
Due: none

Add kubernetes to pyproject
  clients/python-apiserver-client/pyproject.toml
Due: none
