Repository ray-project/kuberay: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-ray-operator, golangci-lint-apiserver, golangci-lint-cli, golangci-lint-experimental

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: _generated.go$|\.svg$|^third_party/|^proto/swagger/|^apiserver/pkg/swagger/datafile.go$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm-chart/|^mkdocs.yml$|^benchmark/perf-tests/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-vcs-permalinks
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys, --no-ensure-ascii]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: golangci-lint-ray-operator
        name: golangci-lint (ray-operator)
        entry: bash -c 'cd ray-operator && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^ray-operator/
      - id: golangci-lint-apiserver
        name: golangci-lint (apiserver)
        entry: bash -c 'cd apiserver && golangci-lint run --fix --exclude='SA1019' --exclude-files _generated.go\|datafile.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^apiserver/
      - id: golangci-lint-cli
        name: golangci-lint (cli)
        entry: bash -c 'cd cli && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^cli/
      - id: golangci-lint-experimental
        name: golangci-lint (experimental)
        entry: bash -c 'cd experimental && golangci-lint run --fix --exclude-files _generated.go; cd ..'
        types: [ go ]
        language: golang
        require_serial: true
        files: ^experimental/

fix: ci linter issue
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

feat: add dashboard running status checking
  ray-operator/test/sampleyaml/support.go
Due: golangci-lint-ray-operator

[Test] Query dashboard to get the serve application status in head pod (#2489)
  ray-operator/test/sampleyaml/rayservice_test.go
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/core.go
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Add TPU to Known Custom Accelerators for generated rayStartCommand (#2495)
  ray-operator/controllers/ray/common/pod.go
  ray-operator/controllers/ray/common/pod_test.go
Due: golangci-lint-ray-operator

Remove privileged security context
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
Due: none

Remove unneeded securityContexts
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
Due: none

[Logging] Avoid using fmt.Sprintf inside logging functions
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

[Feat][Sample-yaml] Deprecated python sample yaml test cleanup
  .buildkite/test-sample-yamls.yml
  tests/test_sample_raycluster_yamls.py
  tests/test_sample_rayjob_yamls.py
Due: none

[Logging] Avoid using fmt.Sprintf inside logging functions (#2508)
  ray-operator/controllers/ray/common/ingress.go
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
  ray-operator/controllers/ray/utils/util.go
  ray-operator/main.go
Due: golangci-lint-ray-operator

Add back in sync_global_devices
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

Update v6e-256 KubeRay Sample (#2466)
  ray-operator/config/samples/ray-cluster.tpu-v6e-16-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/ray-cluster.tpu-v6e-singlehost.yaml
  ray-operator/config/samples/ray-job.tpu-v6e-256-multihost.yaml
  ray-operator/config/samples/tpu/tpu_list_devices.py
Due: none

[Feat][Sample-yaml] Deprecated python sample yaml test cleanup (#2507)
  .buildkite/test-sample-yamls.yml
  tests/test_sample_raycluster_yamls.py
  tests/test_sample_rayjob_yamls.py
Due: none

[Feat] Add sample yaml for RayJob clusterSelector config (#2505)
  ray-operator/config/samples/ray-job.use-existing-raycluster.yaml
Due: none

[Refactor][HA] Also apply rayservice from yaml
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/rayservice.static.yaml
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

Address comments
  ray-operator/test/e2e/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2e/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2e/testdata/rayservice.static.yaml
Due: none

[Refactor][HA] Apply locust cluster from yaml instead of ApplyConfiguration
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
Due: golangci-lint-ray-operator

[Chore] Lower resource requests
  ray-operator/test/e2e/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2e/testdata/locust-cluster.const-rate.yaml
  ray-operator/test/e2e/testdata/rayservice.autoscaling.yaml
  ray-operator/test/e2e/testdata/rayservice.static.yaml
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

[Test][HA] Add test for autoscaling RayService
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2e/testdata/rayservice.autoscaling.yaml
Due: golangci-lint-ray-operator

Check number of worker pods
  ray-operator/test/e2e/locustfile.py
  ray-operator/test/e2e/rayservice_ha_test.go
  ray-operator/test/e2e/testdata/locust-cluster.burst.yaml
  ray-operator/test/e2e/testdata/rayservice.autoscaling.yaml
Due: golangci-lint-ray-operator

[Doc] Remove KubeRay CLI references and add Python client details
  README.md
  docs/components/pythonapiclient.md
  docs/components/pythonclient.md
  docs/development/development.md
  docs/index.md
  mkdocs.yml
Due: none

update
  tests/framework/utils.py
Due: none

[CI] Fix RayService CI (#2525)
  tests/framework/utils.py
Due: none

update
  config/prometheus/podMonitor.yaml
Due: none

[metrics] Add ray_io_cluster to all Ray metrics (#2524)
  config/prometheus/podMonitor.yaml
Due: none

[Logging] add context info for yunikorn logger
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[BUG] Fix Dockerfile Error: WARN: FromAsCasing: 'as' and 'FROM' Keywords' Casing Do Not match
  ray-operator/Dockerfile
Due: none

[BUG] Fix Dockerfile Error: WARN: FromAsCasing: 'as' and 'FROM' Keywords' Casing Do Not match (#2527)
  ray-operator/Dockerfile
Due: none

remove ctx from new
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/schedulermanager.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

update
  test
Due: none

Revert "[BUG] Fix Dockerfile Error: WARN: FromAsCasing: 'as' and 'FROM' Keywords' Casing Do Not match (#2527)"
  ray-operator/Dockerfile
Due: none

Revert "[BUG] Fix Dockerfile Error: WARN: FromAsCasing: 'as' and 'FROM' Keywords' Casing Do Not match (#2527)" (#2529)
  ray-operator/Dockerfile
Due: none

refactor: setup Port forward request
  ray-operator/test/sampleyaml/support.go
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

[Logging] add context info for yunikorn logger (#2522)
  ray-operator/controllers/ray/batchscheduler/interface/interface.go
  ray-operator/controllers/ray/batchscheduler/volcano/volcano_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler.go
  ray-operator/controllers/ray/batchscheduler/yunikorn/yunikorn_scheduler_test.go
  ray-operator/controllers/ray/raycluster_controller.go
Due: golangci-lint-ray-operator

[Helm] add sizeLimit for emptyDir
  helm-chart/kuberay-operator/templates/deployment.yaml
  helm-chart/kuberay-operator/values.yaml
Due: none

feat: Update Ray Service Config func
  ray-operator/test/support/ray.go
Due: golangci-lint-ray-operator

feat: create curl pod func
  ray-operator/test/support/core.go
Due: golangci-lint-ray-operator

[Logging] Remove duplicate info in CR logs and lowercase error message start
  ray-operator/controllers/ray/raycluster_controller.go
  ray-operator/controllers/ray/rayjob_controller.go
  ray-operator/controllers/ray/rayservice_controller.go
Due: golangci-lint-ray-operator

add new output types
  proto/go_client/cluster.pb.gw.go
  proto/go_client/config.pb.gw.go
  proto/go_client/job.pb.go
  proto/go_client/job.pb.gw.go
  proto/go_client/job_submission.pb.gw.go
  proto/go_client/serve.pb.gw.go
  proto/job.proto
  proto/kuberay_api.swagger.json
  proto/swagger/cluster.swagger.json
  proto/swagger/job.swagger.json
  proto/swagger/serve.swagger.json
Due: none

add new output fields
  apiserver/pkg/model/converter.go
  apiserver/pkg/model/converter_test.go
  proto/go_client/job.pb.go
  proto/job.proto
  proto/kuberay_api.swagger.json
  proto/swagger/job.swagger.json
Due: golangci-lint-apiserver
